In [8]:
import pandas as pd
import glob

In [55]:
files = glob.glob("../gtfs/calgary/*")
files

['../gtfs/calgary/stop_times.txt',
 '../gtfs/calgary/calendar_dates.txt',
 '../gtfs/calgary/calendar.txt',
 '../gtfs/calgary/routes.txt',
 '../gtfs/calgary/stops.txt',
 '../gtfs/calgary/shapes.txt',
 '../gtfs/calgary/trips.txt',
 '../gtfs/calgary/agency.txt']

In [49]:
for file in files:
    dest_file = file.split("/")[-1].split(".")[0]+"-calgary.parquet"
    df = pd.read_csv(file)
    df = df.dropna(axis=1)
    df.to_parquet(dest_file)

In [28]:
shapes = files[5]
df = pd.read_csv(shapes)
df.dtypes

shape_id                 int64
shape_pt_lat           float64
shape_pt_lon           float64
shape_pt_sequence        int64
shape_dist_traveled    float64
dtype: object

In [54]:
routes = files[3]
df = pd.read_csv(routes)
df = df.dropna(axis=1)
df = df[df['route_id'].str.contains("20715")]
df = df.astype({'route_id': 'str'})
df.to_parquet("routes-calgary.parquet")
df.dtypes

route_id            object
route_short_name     int64
route_long_name     object
route_type           int64
dtype: object

In [56]:
stops = files[0]
print(stops)
df = pd.read_csv(stops)
df.dtypes

../gtfs/calgary/stop_times.txt

trip_id                  int64
arrival_time            object
departure_time          object
stop_id                  int64
stop_sequence            int64
pickup_type              int64
drop_off_type            int64
shape_dist_traveled    float64
timepoint                int64
dtype: object

In [60]:
trips = files[-2]
df = pd.read_csv(trips)
df

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,36-20715,2023SE-1BUSSA-Saturday-03,64329023,RIVERBEND,0,6486832,360037
1,36-20715,2023SE-1BUSSA-Saturday-03,64329024,RIVERBEND,0,6486832,360037
2,36-20715,2023SE-1BUSSA-Saturday-03,64329025,RIVERBEND,0,6486832,360037
3,36-20715,2023SE-1BUSSA-Saturday-03,64329026,RIVERBEND,0,6486832,360037
4,36-20715,2023SE-1BUSSA-Saturday-03,64329027,RIVERBEND,0,6486832,360037
...,...,...,...,...,...,...,...
46895,201-20706,2023SE-1LRTWK-Weekday-00,63261544,TUSCANY,0,6415762,2010502
46896,201-20706,2023SE-1LRTWK-Weekday-00,63261548,TUSCANY,0,6415825,2010502
46897,201-20706,2023SE-1LRTWK-Weekday-00,63261551,SOMERSET-BRIDLEWOOD,1,6415825,2010546
46898,201-20706,2023SE-1LRTWK-Weekday-00,63261556,TUSCANY,0,6415826,2010502
46899,201-20706,2023SE-1LRTWK-Weekday-00,63261557,SOMERSET-BRIDLEWOOD,1,6415826,2010546